@import "src/styles/imports";
.about-us-section {
  position: relative;

  background-color: $main-color;

  .wave {
    position: absolute;

    width: 100%;
    opacity: 0;
    transition: 300ms opacity ease-in;
    z-index: 100;
    &.in {
      opacity: 1;
    }
  }
  .title {
    color: white;
    font-size: rem(30);

    text-align: center;
    font-family: $font-medium;
  }
  .content {
    font-size: rem(14);
    color: white;
    font-family: $font;
    margin-top: rem(20);
    padding-inline: rem(15);
    padding-bottom: rem(40);
  }
  .wave-upside {
    width: 100%;
  }
}

@media (min-width: em($tablet)) {
  .about-us-section {
    .title {
      font-size: rem(40);
    }
    .content {
      font-size: rem(18);

      margin-top: rem(15);
    }
  }
}

@media (min-width: em($desktop)) {
  .about-us-section {
    .title {
      font-size: rem(40);
    }
    .content {
      font-size: rem(18);
      padding-inline: rem(40);

      margin-top: 0;
    }
  }
}
