@import "src/styles/imports.scss";
.sidebar-menu-link {
  height: rem(60);
  align-items: center;
  display: flex;
  z-index: 20;
  padding-inline-start: rem(20);
  margin-top: rem(10);

  &.active {
    background-color: $cms-active-menu-tab-background;
    box-shadow: $cms-active-menu-tab-box-shadow;
    border-radius: 3px;
    .sidebar-menu-link-text {
      color: $cms-menu-item-active;
    }
  }
  .sidebar-menu-link-text {
    font-size: rem(20);
    font-weight: 200;
    color: $cms-menu-item;
    pointer-events: none;
  }
}

@media (min-width: em($tablet)) {
  .sidebar-menu-link {
    height: rem(60);
    margin-top: rem(10);

    padding-inline-start: rem(20);

    .sidebar-menu-link-text {
      font-size: rem(20);
    }
  }
}

@media (min-width: em($desktop)) {
  .sidebar-menu-link {
    margin-top: rem(10);

    height: rem(80);

    padding-inline-start: rem(20);

    .sidebar-menu-link-text {
      font-size: rem(22);
    }
  }
}
