@import "src/styles/imports";
.header {
  width: 100%;

  z-index: 999;
  position: relative;
  .header-content {
    position: fixed;
    background-color: $main-color;
    width: 100%;

    top: 0;
    left: 0;
    padding: rem(10) rem(20);

    .logo {
      width: rem(60);
    }
  }
}
